<%- include('partials/header'); -%>

<header class="show-banner">
    <div class="banner-container" >
        <div class="show-banner-container">
            <h2>See the deliciousness near you...</h2>
            <div class="show-search-button">
                <a href="/">Search Another?</a>
            </div>
            <h3>
                <%=totalResults %> places found within 5 miles of 
                    <%= location.toUpperCase() %>
            </h3>
        </div>
    </div>
</header>

    <main id="main">

        <div class="restaurant-card-container">

            <% restaurantData.forEach(function(restaurant) { %>
                <div class="restaurant-card">
                    <div class="restaurant-card">
                        <div class="card-photo">
                            <div>
                                <img src='/img/card-bg.jpg' alt="">
                            </div>
                        </div>
                        <div class="restaurant-name">
                            <p><%= restaurant.name %></p>
                        </div>
                        <h6>
                            <i class="fas fa-map-marker-alt"></i>
                            <%= restaurant.vicinity %>
                        </h6>
                        <div class="open-status">
                           <% if(restaurant.opening_hours.open_now === true) { %>
                                <span class="isOpen">Open</span>
                          <%  } else if(restaurant.opening_hours.open_now === false) { %>
                                <span class="isClosed">Closed</span>
                           <% } else { %>
                            <span class="isClosed">Closed</span>
                          <% } %>
                        </div>

                        <div class="stats-container">
                            <i class="far fa-star fa-2x"></i>
                            <i class="far fa-comment fa-2x"></i>
                            <p class="-Likes">
                               <%= restaurant.rating %>
                            </p>
                            <p class="-Comments">
                                <%= restaurant.user_ratings_total %> Reviews</p>
                            <div class="link">
                                <a class="search-button" href="/restaurant/<%= restaurant.place_id %>"> 
                                    <i class="fas fa-info"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <% }) %>
        </div>
    </main>

<section class="bottom">
    <div class="bottom-container">
            <h2>Not what you're looking for?</h2>
            <div class="bottom-search-button">
                <a href="/">Search for More</a>
            </div>
    </div>
</section>

        <%- include('partials/footer'); -%>